<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SI_Monotoring_Stok_Barang_Pada_TOKO_ELEKTRONIK.Properties.Settings.DB_TokoElektronikConnectionString"
            connectionString="Data Source=LAPTOP-ANV5L9LG\ALFA;Initial Catalog=DB_TokoElektronik;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>